.lead {
  max-width: 984px;
  width: calc(100% - 296px);
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.lead__title {
  max-width: 720px;
  margin: 0;
  font-family: "inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

.lead__subtitle {
  max-width: 720px;
  margin: 32px 0 0;
  font-family: "inter", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
.lead__image {
  position: relative;
  width: 76.875vw;
  max-width: 984px;
  height: 48.046875vw;
  max-height: 615px;
  margin: clamp(24px, 5vw, 64px) auto 0;
  overflow: hidden;
}
.lead__image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  mix-blend-mode: hue;
  pointer-events: none;
}
.lead__image-foreground {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    max-width: 100%;
    margin: 90px auto 0;
  }

  .lead__title {
    max-width: 530px;
    width: calc(100% - 40px);
    margin: 0 auto;
    font-size: 75px;
    line-height: 1.05;
  }
  .lead__subtitle {
    width: calc(100% - 48px);
    max-width: 720px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
  }
  .lead__image {
    width: 100%;
    max-width: 100%;
    margin-top: 32px 0 0;
    height: auto;
    aspect-ratio: auto;
    overflow: hidden;
  }
  .lead__image-foreground {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    width: 100%;
    max-width: 100%;
    margin: 50px auto 0;
  }
  .lead__title {
    width: calc(100% - 32px);
    margin: 0 auto;
    font-size: 40px;
    line-height: 1.1;
  }
  .lead__subtitle {
    width: calc(100% - 32px);
    margin: 16px auto 0;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
  }
  .lead__image {
    width: 100%;
    max-width: 100%;
    margin: 40px 0 0;
    height: auto;
    display: block;
    object-fit: cover;
  }
  .lead__image-foreground {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}
