body {
  margin: 0;
  background-color: #2a2c2f;
  font-family: "inter", sans-serif;
}

.page {
  max-width: 1280px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
}
.header__logo {
  height: 68.9px;
  width: 254.84px;
}

.lead {
  max-width: 984px;
  margin: 194px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;
}

.lead__title {
  max-width: 720px;
  margin: 0;
  font-family: "inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

.lead__subtitle {
  max-width: 720px;
  margin: 32px 0 0;
  font-family: "inter", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
.lead__image {
  position: relative;
  width: 76.875vw;
  max-width: 984px;
  height: 48.046875vw;
  max-height: 615px;
  margin: clamp(24px, 5vw, 64px) auto 0;
  overflow: hidden;
}
.lead__image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  mix-blend-mode: hue;
  pointer-events: none;
}
.lead__image-foreground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.intro {
  max-width: 830px;
  width: 64.84375vw;
  margin: 88px auto 0;
  color: #ffffff;
}

.intro__title {
  max-width: 803px;
  width: 64.83375vw;
  margin: 0;
  font-family: "inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}
.intro__text {
  max-width: 768px;
  width: 60vw;
  margin: 32px 0 0;
  font-family: "inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
}
.intro__text-author {
  max-width: 732px;
  width: 57.1875vw;
  margin: 24px 0 0;
  font-size: 24px;
  line-height: 1.4;
  text-align: right;
}
.intro__text-description {
  max-width: 722px;
  width: 56.71875vw;
  margin: 32px 0 0;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}
.footer {
  min-width: 194px;
  width: 15.15625vw;
  margin: 92px auto 0;
}
.footer__text {
  max-width: 194px;
  width: 15.15625vw;
  margin: 0;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #ffffff;
}
